.landingPage {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    padding-top: 182px;
}

.landingPage__titleFigure {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.landingPage__titleWrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.landingPage__titleImg {
    aspect-ratio: auto;
    min-width: 280px;
    width: 59.21vw;
    user-select: none;
    z-index: 1;
}

.landingPage__mouseWrapper {
    position: relative;
    top: 144px;
    display: flex;
    justify-content: center;
}

.landingPage__skullFigure {
    width: 100%;
    height: fit-content;       
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    pointer-events: none;
    overflow: hidden;    
    z-index: 0;          
}

.landingPage__skullImage {
    width: 50vw;
    aspect-ratio: auto;
    max-width: 1024px;
    position: relative;
    top: -10vw;
}

@media screen and (max-width: 1024px) {
    .landingPage__skullFigure {
        height: 100vh;
        justify-content: center;
    }

    .landingPage__titleFigure {
        justify-content: center;
        align-items: center;
    }
}