.landingPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 182px;
    scroll-margin-top: 86px;
}

.landingPage__titleFigure {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.landingPage__titleWrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-left: var(--padding-inline);
}

.landingPage__titleImg {
    aspect-ratio: auto;
    width: clamp(280px, 59.21vw, 1200px);
    user-select: none;
    z-index: 2;
}

.landingPage__mouseWrapper {
    position: relative;
    top: 144px;
    display: flex;
    justify-content: center;
}

.landingPage__skullImg {
    width: 50vw;
    aspect-ratio: auto;
    max-width: 1024px;
    width: clamp(320px, 50vw, 1024px);
    position: absolute;
    top: -45vh;
    right: 0px;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .landingPage {
        position: relative;
        width: 100vw;
        height: 75vh;
        padding-top: 182px;
        scroll-margin-top: 86px;
    }

    .landingPage__skullImg {
        top: -15%;
        left: 25%;
    }

    .landingPage__titleFigure {
        justify-content: center;
        align-items: center;
    }

    .landingPage__titleWrapper {
        padding: 0;
    }
}

@media screen and (max-width: 520px) {
    .landingPage__skullImg {
        top: -20%;
        left: 16.5%;
    }
}

@media screen and (max-width: 450px) {
    .landingPage__skullImg {
        top: -20%;
        left: 14.5%;
    }
}

@media screen and (max-width: 390px) {
    .landingPage__skullImg {
        top: -20%;
        left: 8.5%;
    }
}

@media screen and (max-width: 350px) {
    .landingPage__skullImg {
        top: -20%;
        left: 3.5%;
    }
}