.expertises__wrapper {
  height: fit-content;
  scroll-margin-top: 120px;
}

.expertises {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  box-sizing: border-box;
  margin-left: 181px;
  width: 120vw;
  padding: 41px 0 42px 75px;
  border: 1px solid white;
  border-right: none;
  border-radius: 20px 0 0 20px;
  overflow-x: hidden;
  overflow-y: visible;
}

.expertises__inner {
  max-width: calc(100% - 181px);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.expertises__header,
.expertises__contentWrapper {
  display: flex;
  align-items: center;
}

.expertises__header {
  gap: 52px;
}

.expertises__title {
  color: var(--primary-color);
  letter-spacing: var(--font-spacing)
}

.expertises__subtitle {
  color: var(--unselected-text-color);
  font-style: italic;
  letter-spacing: 8px;
  padding-top: 16px;
}

.expertises__contentWrapper {
  gap: clamp(24px, 15%, 368px);
}

.expertises__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.expertises__iconWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 0.75rem;
}

.expertises__icon {
  width: clamp(24px, 7vw, 48px);
  height: clamp(24px, 7vw, 48px);
  transition: 0.2s;
}

.expertises__icon:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1024px) {
  .expertises {
    all: unset; /* cleanses all inherited styles from above */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    padding: 2rem;
  }

  .expertises__inner {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
  }

  .expertises__header,
  .expertises__contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
}
