/* Here you will put tag elements and roots, no classes here!*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
}

h1 {
  font-family: "Cinzel Decorative", serif;
  color: white;
  font-size: 128px;
  font-weight: 400;
}