*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --main-background-color: #121212;
    --primary-color: #BBAB89;
    --text-color: #FFF;
    --unselected-text-color: rgba(255, 255, 255, 0.6);
    --padding-inline: 72px;
    --padding-block: 86px;
    --decorative-text: "Cinzel Decorative", sans-serif;
    --body-text: "Cormorant Garamond", serif;

    --navbar-font-size: 24px
}

html, body {
    font-family: var(--body-text);
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}