.portalGallery {
    padding-inline: var(--padding-inline);
    display: flex;
    flex-direction: column;
    gap: 71px;
    margin-top: 50vh;
}

.portalGallery__title{
    color: var(--primary-color);
    letter-spacing: var(--font-spacing);
}

.portalGallery__header {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.portalGallery__filterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portalGallery__filter {
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
}

.unselected {
    color: var(--unselected-text-color);
}

.portalGallery__dot {
    display: inline-block;      
    width: 8px;                 
    height: 8px;                
    background-color: white;
    border-radius: 50%;         
    margin-left: 4px;
    vertical-align: middle;     
}

.portalGallery__wrap {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.portalGallery__content {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.portalGallery__content:nth-child(even) {
    flex-direction: row-reverse;
}

.portalGallery__textSide {
    width: 55.69%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: start;
}

.portalGallery__content:nth-child(even) .portalGallery__textSide {
    text-align: end;
}

.portalGallery__tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
}

.portalGallery__content:nth-child(even) .portalGallery__tags {
    justify-content: flex-end;
}

.portalGallery__tag {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding-inline: 21px;
    padding-block: 3px;
    border-radius: 10px;
    user-select: none;
    transition: 0.2s ease-in-out;
}

.portalGallery__tag:hover {
    background-color: var(--primary-color);
    color: var(--font-color);
}

.portalGallery__imageSide {
    width: auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.portalGallery__frameWrapper {
    position: relative;
    display: inline-block;
    width: 536px;
    aspect-ratio: 3 / 4;
}

.portalGallery__image {
    width: 80%;
    height: 80%;
}

.portalGallery__arrowWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.portalGallery__arrow {
    cursor: pointer;
}

.right {
    transform: rotateZ(180deg);
}

@media screen and (max-width: 1024px) {
    .portalGallery {
        text-align: center;
    }

    .portalGallery__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .portalGallery__content:nth-child(even) {
        flex-direction: column-reverse;
    }

    .portalGallery__frameWrapper {
        width: 320px;
    }

    .portalGallery__header {
        justify-content: center;
    }

    .portalGallery__tags {
        justify-content: center;
    }

    .portalGallery__textSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }

    .portalGallery__content:nth-child(even) .portalGallery__textSide {
        text-align: center;
    }

    .portalGallery__content:nth-child(even) .portalGallery__tags {
        justify-content: center;
    }
}