.footer {
    margin-top: 30vh;
    padding-inline: var(--padding-inline);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__figure {
    display: flex;
    margin-top: 0.25rem;
    gap: 1rem
}

.footer__icon {
    width: 32px;
    height: 32px;
    transition: 0.2s linear;
}

.footer__icon:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .footer__figure {
        width: 100%;
        justify-content: center;
    }
}