.mainPage {
    width: 100%;
    max-width: 100vw;
    height: fit-content;
    background-image: url('../../assets/images/background/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #121212;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
}

@media screen and (max-width: 1024px) {
    .mainPage {
        padding-inline: 0px;
    }
}