.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding-right: var(--navbar-padding-right);
    padding-block: 86px !important;
    z-index: 3;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1024px) {
    .navbar {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}